button {
  margin: 0 1ch;
}

.controlButton {
  line-height: 2em;
}
#itemsWrapper {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.items {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#itemDisplayBox {
  display: flex;
  overflow: auto;
  height: 100%;
  width: clamp(300px, 70%, 900px);
  border: none;
  margin: 0;
  padding: 0;
}

#itemDisplayController {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 1ch;
  margin: 1ch;
  border-left: solid;
  border-width: 1px;
}
