img {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
.editImgDiv {
  padding: 0.5ch 0;
  margin: 0.1ch 1.5ch;
  position: absolute;
  top: 0;
  right: 0;
  max-width: 90%;
  display: flex;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.5);
  border-color: rgba(50, 50, 50, 0.2);
  color: rgba(255, 255, 255, 0.8);
  border-width: 1px;
  border-radius: 0.8em;
}
.imgPathEditForm {
  flex: 1 1;
  margin: auto 0;
}
.imgPathEditInput {
  width: 85%;
  line-height: clamp(0.5em, min(2.3vw, 1.8vh) + -0.4em, 5em);
  font-size: clamp(0.5rem, min(2.5vw, 2vh) + -0.3rem, 1.2rem);
}
.editImgButton {
  padding: 0 0.2ch 0.2ch 0.4ch;
  margin: 0.3ch;
  text-align: center;
  flex: 0 1;
}
.darkEditImgButton {
  background-color: rgba(0, 0, 0, 0.5);
  border-color: rgba(50, 50, 50, 0.2);
  color: rgba(255, 255, 255, 0.8);
  border-width: 1px;
}
.lightEditImgButton {
  background-color: rgba(255, 255, 255, 0.5);
  border-color: rgba(200, 200, 200, 0.4);
  color: rgba(0, 0, 0, 0.8);
  border-width: 1px;
}

.imgBox {
  position: relative;
  height: clamp(70px, 90%, 300px);
  width: clamp(100px, 30%, 160px);
  margin: auto 0 auto 0;
  border-style: ridge;
  border-width: 3px;
  flex: 1 1 10%;
  padding: 0;
  border-radius: 2em;
  overflow: hidden;
}
.darkImgBox {
  border-color: rgba(255, 235, 30, 0.3);
  border-top-color: rgba(255, 235, 30, 0.6);
  border-right-color: rgba(255, 235, 30, 0.4);
}
.lightImgBox {
  border-color: rgba(0, 0, 0, 0.3);
  border-top-color: rgba(0, 0, 0, 0.6);
  border-right-color: rgba(0, 0, 0, 0.6);
  border-left-color: rgba(0, 0, 0, 0.4);
}
.itemDisplayWrapper {
  position: relative;
  height: clamp(0px, 100%, 25vh);
  padding: 0;
  margin: calc(1.3ch + 2px) 0 calc(1.3ch + 0px) 0;
}
.itemDisplay {
  position: relative;
  height: 100%;
  display: flex;
  border: solid;
  margin: 0;
  padding: 0 1em;
  border-radius: 1em;
  line-height: 1.2em;
}
.detailsInnerBox {
  position: relative;
  display: flex;
  overflow-x: clip;
  overflow-y: visible;
  width: 100%;
}
.itemTypeLabel {
  position: absolute;
  top: calc(-1ch - 4px);
  left: 2ch;
  z-index: 2;
  padding: 0 1ch;
}
.itemDetails {
  width: clamp(30ch, 60%, 40ch);
  text-align: left;
  white-space: pre-wrap;
  padding: 0.5ch 2ch 0.5ch 2ch;
  margin: auto 0;
  flex: 3 1;
}

.darkDetails {
  background-color: rgba(10, 10, 10, 0.8);
}
.lightDetails {
  background-color: rgba(240, 240, 240, 1);
}

.detailName {
  width: 14ch;
  margin-top: auto;
  margin-bottom: auto;
}
.detailData {
  flex: 1 1;
}
.detailDiv {
  display: flex;
  margin-top: 0.3ch;
  margin-bottom: 0.3ch;
}

.darkTopButton {
  border: outset;
  border-width: 2px;
  border-color: rgba(200, 200, 200, 0.2);
  box-sizing: border-box;
  border-radius: 50%;
}
.lightTopButton {
  border: outset;
  border-width: 2px;
  border-color: rgba(200, 200, 200, 0.2);
  box-sizing: border-box;
  border-radius: 50%;
}

.deleteItem {
  position: absolute;
  top: calc(-1ch - 4px);
  right: 2ch;
  z-index: 2;
  padding: 0 1ch;
}
.addItemDetail {
  position: absolute;
  top: calc(-1ch - 4px);
  right: calc(6ch + 4px);
  z-index: 2;
  padding: 0 1ch;
}

.editButton {
  line-height: 1em;
  padding: 0 0.5ch;
  font-size: clamp(0.5rem, min(2.5vw, 2vh) + -0.3rem, 1.2rem);
}
.darkEditButton {
  background-color: transparent;
  border-color: rgba(50, 50, 50, 0.2);
  color: rgb(255, 235, 30);
  border-width: 1px;
}
.lightEditButton {
  background-color: transparent;
  border-color: rgba(200, 200, 200, 0.4);
  color: black;
  border-width: 1px;
}
