img {
  height: clamp(70px, 95%, 300px);
  width: clamp(80px, 30%, 160px);
  aspect-ratio: 3/2;
  margin: auto 0 auto 0;
  border: solid;
  border-width: 1px;
}

.itemDisplay {
  height: clamp(100px, 29%, 520px);
  display: flex;
  border: solid;
  margin: 0.5ch 0;
  border-radius: 1em;
}

.itemDetails {
  width: clamp(30ch, 60%, 40ch);
  text-align: left;
  white-space: pre-wrap;
  padding: 0.5ch 2ch 0.5ch 2ch;
  margin: auto 0;
}

.darkDetails {
  background-color: rgba(10, 10, 10, 0.8);
}
.lightDetails {
  background-color: rgba(240, 240, 240, 1);
}

.detailName {
  width: 14ch;
}

.deleteItem {
  position: absolute;
  top: -1em;
  right: 2ch;
  z-index: 2;
  padding: 0 0.5ch;
}
