@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

body {
  margin: 0;
  padding: 0;
  font-size: clamp(0.5rem, min(2vw, 1.8vh) + -0.3rem, 1.2rem);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1em;
}
header {
  position: relative;
  flex: 0 1;
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 1ch 0 0 0;
  margin-bottom: 5px;
}
#headderButtonContainer {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  flex: 2.5 1;
  height: 100%;
}
#headderButtonContainer button {
  margin-bottom: 0.2em;
  margin-top: auto;
}
#title {
  white-space: nowrap;
  font-family: "Lobster";
  font-size: clamp(1.7rem, min(2.5vw, 2vh) + -0.3rem, 3rem);
  flex: 1 1;
  margin: auto 0.3ch auto 0;
}

footer {
  width: 100%;
  flex: 0 1;
  display: flex;
  justify-content: space-evenly;
  margin-top: 1ch;
  padding: 0.5ch 0 0.5ch 0;
}

.lightFooter {
  background-color: rgba(120, 120, 120, 0.3);
}

.darkFooter {
  background-color: rgba(70, 70, 75, 0.2);
}

button {
  border-radius: 0.8em;
  line-height: 150%;
  font-size: clamp(0.5rem, 2vw + -0.3rem, 0.9rem);
}
.clickableDiv {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.clickableDiv:hover {
  cursor: pointer;
}
[type="submit"] {
  border-radius: 0.8em;
  line-height: 150%;
  font-size: clamp(0.5rem, 2vw + -0.3rem, 0.9rem);
}

#app {
  height: 100vh;
  width: max(100vw, 300px);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.darkMode {
  color: rgb(255, 235, 30);
  background-color: rgb(0, 0, 5);
}

.lightMode {
  color: rgb(0, 0, 5);
  background-color: rgb(240, 240, 240);
}

#modeButton {
  flex: 0 1 auto;
}

.lightLink:link {
  color: rgb(30, 30, 190);
}

.lightLink:hover {
  color: rgb(60, 60, 160);
}

.lightLink:active {
  color: rgb(150, 0, 0);
}

.darkLink:link {
  color: rgb(80, 80, 200);
}

.darkLink:hover {
  color: rgb(100, 100, 200);
}

.darkLink:link:active {
  color: red;
}

.darkLink:visited {
  color: rgb(50, 50, 150);
}
.darkButton {
  font-weight: 600;
  color: #000;
  background-color: rgb(255, 235, 30);
}

.lightButton {
  font-weight: 600;
  color: #000;
  background-color: rgb(184, 184, 184);
}

.itemBoxContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex: 1 1 75vh;
  overflow: auto;
}

.openText {
  margin: auto;
  font-size: clamp(1rem, min(20vw, 20vh) - 0.3rem, 8rem);
  line-height: clamp(2rem, min(25vw, 25vh) - 0.3rem, 9rem);
  font-family: "Lobster", Arial, Helvetica, sans-serif;
}
.openTextLetter {
  display: inline-block;
  text-shadow: -2px -2px rgb(129, 120, 19);
  opacity: 0.7;
  will-change: transform;
  padding: 2px;
  transition: transform 100ms;
}
.openTextLetter:hover {
  opacity: 1;
  transition: transform 500ms;
  text-shadow: -5px -5px rgb(129, 120, 19);
  padding: 5px;
  transform: skewY(10deg) translate(3px, 3px) scale(1.1, 1.1);
}
