body {
  margin: 0;
  padding: 0;
  font-size: clamp(0.5rem, min(2.5vw, 2.3vh) + -0.3rem, 1.2rem);
  font-family: Arial, Helvetica, sans-serif;
}
header {
  flex: 0 1;
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 1ch 0 0 0;
}

footer {
  width: 100%;
  flex: 0 1;
  display: flex;
  justify-content: space-evenly;
  margin-top: 1ch;
  padding: 0.5ch 0 0.5ch 0;
}

.lightFooter {
  background-color: rgba(120, 120, 120, 0.3);
}

.darkFooter {
  background-color: rgba(70, 70, 75, 0.2);
}

h1 {
  margin: 0;
}
button {
  border-radius: 0.8em;
  line-height: 150%;
  font-size: clamp(0.5rem, 2vw + -0.3rem, 0.9rem);
}
[type="submit"] {
  border-radius: 0.8em;
  line-height: 150%;
  font-size: clamp(0.5rem, 2vw + -0.3rem, 0.9rem);
}

#app {
  height: 100vh;
  width: max(100vw, 300px);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.darkMode {
  color: rgb(255, 235, 30);
  background-color: rgb(0, 0, 5);
}

.lightMode {
  color: rgb(0, 0, 5);
  background-color: rgb(240, 240, 240);
}

#title {
  flex: 0 1 auto;
}
#modeButton {
  flex: 0 1 auto;
}

.lightLink:link {
  color: rgb(30, 30, 190);
}

.lightLink:hover {
  color: rgb(60, 60, 160);
}

.lightLink:active {
  color: rgb(150, 0, 0);
}

.darkLink:link {
  color: rgb(80, 80, 200);
}

.darkLink:hover {
  color: rgb(100, 100, 200);
}

.darkLink:link:active {
  color: red;
}

.darkLink:visited {
  color: rgb(50, 50, 150);
}
.darkButton {
  font-weight: 600;
  color: #000;
  background-color: rgb(255, 235, 30);
}

.lightButton {
  font-weight: 600;
  color: #000;
  background-color: rgb(184, 184, 184);
}

.itemBoxContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex: 1 1 75vh;
  overflow: auto;
}
